[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pythainlp = "*"
sklearn = "*"
Flask = "*"
Flask-RESTful = "*"
PyGithub = "*"
jwt = "*"

[requires]
python_version = "3.7"
